<h1>Article View</h1>

<ul>
  <% @articles.each do |article|%>
    <a href="<%= article_path(article)%>">
        <%= article.title%>
    </a>
    </br>
    <%= link_to article.title, article %>

    <li>
      <p>
        <%= article.body %>
      </p>
    </li>
  <%end%>
</ul>
